/* other water colors  #00248F    #74fbfd */
 .box {
  background:rgb(0, 0, 0) 

}  

.water {
    fill: #00248F;
  }
  
  .land {
    fill: rgb(117, 96, 76);
    stroke: #FFF;
    stroke-width: 0.7px;
  }
  
  .land:hover {
    fill:#33CC33;
    stroke-width: 1px;
  }
  
  .focused {
    fill: #33CC33;
  }
  
  select {
    position: absolute;
    top: 20px;
    left: 580px;
    border: solid #ccc 1px;
    padding: 3px;
    box-shadow: inset 1px 1px 2px #cec1b4;
  }
  
  .countryTooltip {
    position: absolute;
    display: none;
    pointer-events: none;
    background: rgb(255, 170, 170);
    padding: 5px;
    text-align: left;
    border: solid #ccc 1px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: sans-serif;
  }

  .happyTooltip {
    position: absolute;
    display: none;
    pointer-events: fill ;
    background: rgb(255, 170, 170);
    padding: 5px;
    text-align: left;
    border: solid #ccc 1px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: sans-serif;
  }